<div class="container">
    <h2 class="text-center"> Badge </h2>

    <!-- ======================= Heading ===================== -->
    <h4>Headings</h4>

    <h1>Example heading <span class="badge bg-secondary">New</span></h1>
    <h2>Example heading <span class="badge bg-secondary">New</span></h2>
    <h3>Example heading <span class="badge bg-secondary">New</span></h3>
    <h4>Example heading <span class="badge bg-secondary">New</span></h4>
    <h5>Example heading <span class="badge bg-secondary">New</span></h5>
    <h6>Example heading <span class="badge bg-secondary">New</span></h6>

    <!-- ======================= Buttons ===================== -->
    <h4>Buttons</h4>
    <button type="button" class="btn btn-primary">
        Notifications <span class="badge bg-secondary">4</span>
      </button>
     <!-- ======================= Positioned ===================== -->
     <h4>Positioned</h4> 
     <button type="button" class="btn btn-primary position-relative">
        Inbox
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          99+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button> 
        <br>
        <br>
      <button type="button" class="btn btn-primary position-relative">
        Profile
        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">New alerts</span>
        </span>
      </button>

      <!-- ======================= Background colors ===================== -->
     <h4>Background colors</h4> 
     <span class="badge bg-primary m-2">Primary</span>
    <span class="badge bg-secondary m-2">Secondary</span>
    <span class="badge bg-success m-2">Success</span>
    <span class="badge bg-danger m-2">Danger</span>
    <span class="badge bg-warning text-dark m-2">Warning</span>
    <span class="badge bg-info text-dark m-2">Info</span>
    <span class="badge bg-light text-dark m-2">Light</span>
    <span class="badge bg-dark m-2">Dark</span>
</div>