/* You can add global styles to this file, and also import other style files */
.box-height{
    height: 100px;
}
.box-height:hover{
    background: #8f9595;
    color: white;
    font-weight: bold;
}